body {
    margin: 0;
    font-family: monospace;
}

.container {
    width: 100%;
    height: 100vh;

    display: flex;
    flex-direction: column;
}

.header {
    width: 100%;
    height: 50px;

    box-sizing: border-box;

    display: flex;
    flex-direction: row;

    justify-content: space-between;
    align-items: center;

    padding-left: 16px;
    padding-right: 16px;

    background-color: orange;
}

input {
    width: 256px;
    height: 32px;

    box-sizing: border-box;

    padding-left: 8px;

    border-style: none;
    border-radius: 8px;
}

button {
    width: 64px;
    height: 32px;

    box-sizing: border-box;

    border-style: none;
    border-radius: 8px;

    background-color: white;
}

.main {
    width: 100%;
    height: 100%;

    box-sizing: border-box;

    display: flex;
    flex-direction: column;

    justify-content: center;
    align-items: center;
}